<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interseção de Listas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</head>
<body>
    <h1>Calculadora de Modulos</h1>
    <form id="calcular-form" method="POST">
        <input type="hidden" name="operacao" id="operacao" value="intersecao">
        <div id="lista-container" class="lista-container">
            <!-- Listas serão adicionadas aqui dinamicamente -->
        </div>

        <!-- Botões principais -->
        <div class="botoes-principais">
            <button type="button" id="adicionar-lista">Adicionar Lista</button>
            <button type="button" id="salvar-listas">Salvar Listas</button>
            <button type="button" id="resetar-tudo">Resetar</button>
            <div class="dropdown">
                <button type="button" class="dropbtn">Fórmulas</button>
                <div class="dropdown-conteudo">
                    <button type="button" id="calcular-intersecao">Calcular Interseção</button>
                    <button type="button" id="calcular-uniao">Calcular União</button>
                    <button type="button" id="calcular-lei-de-morgan">Calcular Lei de Morgan</button>
                </div>
            </div>
        </div>

        <div id="resultado">
            <!-- O resultado será exibido aqui -->
        </div>
        <div id="mensagem">
            <!-- Mensagens de feedback serão exibidas aqui -->
        </div>
        <div class="footer">
           <!-- <p class="footer-text">Desenvolvido por Você</p> 
            <img src="/static/images/icon.png" alt="Ícone" class="footer-icon"> -->
        </div>
    </form>

    <!-- Modal para o conjunto universo -->
    <div id="modal-universo" class="modal">
        <div class="modal-conteudo">
            <span class="fechar-modal">&times;</span>
            <h2>Definir Conjunto Universo</h2>
            <p>
                Insira os elementos do conjunto universo separados por vírgula (ex: 1,2,3,4,5,6).<br>
                Caso não seja informado, será utilizada a união das listas como conjunto universo.
            </p>
            <input type="text" id="input-universo" placeholder="Ex: 1,2,3,4,5,6">
            <button type="button" id="confirmar-universo">Confirmar</button>
        </div>
    </div>
</body>
</html>